html, body {
    height: calc(100% - 25px);
    margin: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td .ui-helper-hidden-accessible {
    position: unset !important;
}

body .ui-datatable thead th {
    padding: 1px;
}

body .ui-datatable .ui-datatable-data>tr>td {
    padding: 2px 1px;
}

#specHeader {
    background: #f4f4f4;
}

#specHeader .ui-button {
    background: #f4f4f4;
    color: #6c757d;
    border: #ffffff;
    scale: 1.5;
    padding: unset;
}

.ui-datatable table {
    table-layout: unset !important;
}

.ui-state-highlight {
    background-color: #eaeaea;
}

.centre-column {
    text-align: center;
}

.gray {
    color: white;
    background-color: lightgray;
}

.red {
    background-color: red !important;
}

#tabView\:aTab, #tabView\:cTab {
    height: 100%;
    padding: 2px;
}

#tabView .ui-tabs-panels {
    border-bottom: 1px solid #c8c8c8;
    border-top: none;
    border-left: none;
    border-right: none;
    height: calc(100% - 37px);
}

.ui-tooltip-arrow {
    display: none;
}

.ui-dialog-content {
    padding: 1px !important;
}

#statusDialog .ui-dialog-titlebar {
    display: none;
}

#statusDialog_content {
    background-color: transparent;
    border: none;
    overflow: hidden;
}

