.gray {
    color: white;
    background-color: lightgray;
}

.red {
    background-color: red !important;
}

body #tabView.ui-tabs.ui-tabs-bottom>.ui-tabs-nav {
    padding-left: 0.1rem;
}

body .ui-dialog .ui-dialog-content {
    border: none;
}

body .ui-dialog .ui-dialog-footer {
    border: none;
    padding: 0.3em 0;
}