/* Стили для всплывающих панелей (фильтры, пересчеты, переходы и тд.)*/

.popupPanel {
    position: fixed;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    border-radius: 3px;
}

body .tc-panel.tc-panel-popup .ui-panel-titlebar {
    padding-left: 0.1em;
}

body .tc-panel.tc-panel-popup .ui-panel-content {
    display: flex;
    justify-content: center;
}

body .ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon {
    height: 1.5rem;
    width: 1.5rem;
}

/* Стили для двух панелей закладок, что бы они отображались в одной строке*/

body #linkerForm\:linkerTabView\:objectTabView.ui-tabs.ui-tabs-bottom>.ui-tabs-nav {
    justify-content: end;
    margin-left: 50%;
}

body #linkerForm\:linkerTabView.ui-tabs.ui-tabs-bottom>.ui-tabs-nav {
    padding-left: 0.1rem;
    margin-right: 50%;
}

/*Устанавливаем свойства scrollbar для дерева в закладке "Линкованные объекты / (Вычислимые параметры, Параметры)"*/

.tc-custom-scroll .ui-tree-container,
.tc-custom-scroll-small .ui-tree-container {
    overflow: unset;
}

.tc-custom-scroll,
.tc-custom-scroll-small {
    overflow: auto;
}

.tc-custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: initial;
}

.tc-custom-scroll-small::-webkit-scrollbar {
    width: 3px;
    height: 8px;
    display: initial;
}

.tc-custom-scroll::-webkit-scrollbar-thumb,
.tc-custom-scroll-small::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    transition: background 250ms ease;
    border-radius: 2px;
    -moz-transition: background 250ms;
    -webkit-transition: background 250ms;
}

.tc-custom-scroll::-webkit-scrollbar-thumb:hover,
.tc-custom-scroll-small::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.35);
}

.tc-custom-scroll::-webkit-scrollbar-track,
.tc-custom-scroll-small::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-width: 0;
}

.tc-custom-scroll::-webkit-scrollbar-button,
.tc-custom-scroll::-webkit-scrollbar-corner,
.tc-custom-scroll::-webkit-resizer,
.tc-custom-scroll-small::-webkit-scrollbar-button,
.tc-custom-scroll-small::-webkit-scrollbar-corner,
.tc-custom-scroll-small::-webkit-resizer {
    display: none;
}

/*устанавливаю ширину элемента дерева в закладке "Линкованные объекты / (Вычислимые параметры, Параметры)" что бы оно скрывалось "..."*/

.ui-treenode-label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Цвет некоторых иконок в дереве в закладке "Линкованные объекты / (Вычислимые параметры, Параметры)"*/

.lColor {
    color: mediumseagreen;
}

.nlColor {
    color: red;
}

.nlbopColor {
    color: blue; /*на вычислимых когда синии надо разлинковать и сделать красным*/
}

/*Скрываю стандартный фильтр в дереве в закладке "Линкованные объекты / (Вычислимые параметры, Параметры)"*/

.ui-tree-filter-container {
    display: none;
}

/*Стили таблицы в закладке "Линкованные объекты / Вычислимые параметры"*/

#linkerForm\:linkerTabView\:objectTabView\:calcDataTable {
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
}

#linkerForm\:linkerTabView\:objectTabView\:calcDataTable .ui-datatable-tablewrapper {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*Стили шапки дерева в закладке "Линкованные объекты / (Вычислимые параметры, Параметры)"*/

body .tc-panel-header-small .ui-panel-titlebar {
    padding: 0.394em 0.6em 0.3em 0.7em;
}

body .tc-panel-header-small .ui-panel-content {
    height: calc(100% - 34px);
}

/*Стили выделения элементов дерева в закладке "Линкованные объекты / (Вычислимые параметры, Параметры)"*/

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.ui-tree-selectable:not(.ui-state-highlight).ui-state-hover {
    background: #eaeaea;
    color: #333;
    cursor: pointer;
}

body .ui-tree .ui-tree-container .ui-treenode-outline {
    box-shadow: unset;
}

/*Цвета для строк таблицы в закладке "Линкованные объекты / Вычислимые параметры"*/

.greenRow {
    background-color: lightgreen !important;
}

.redRow {
    background-color: salmon !important;
}

body .ui-breadcrumb .ui-breadcrumb-items li .ui-menuitem-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
}

/*Стили деревьев с вертикальными и горизонтальными линиями*/
/*Первая часть (вертикальная линия)*/
.ui-treenode-children {
    position: relative;
}

.ui-treenode-children::after {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.ui-treenode-children::after {
    border-left: 1px dotted #a6a6a6;
    height: 100%;
    top: -16px;
    left: -2.5px;
}

.ui-tree-container li:last-child>.ui-treenode-children::after {
    display: none;
}

.ui-tree-container .tc-first-tree-item>.ui-treenode-children::after {
    display: none;
}

/*Вторая часть (уголок)*/
.ui-treenode-content {
    position: relative;
}

.ui-treenode-content::before {
    content: '';
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.ui-treenode-content::before {
    border-bottom: 1px dotted #a6a6a6;
    border-left: 1px dotted #a6a6a6;
    height: 35px;
    top: -20px;
    width: 13px;
    left: -2px;
}

.ui-treenode-leaf .ui-treenode-content::before {
    width: 30px;
}

.ui-tree-container .tc-first-tree-item>.ui-treenode-content::before {
    display: none;
}

/*Стили для выбранных элементов в закладке "Нелинкованные данные"*/

.tc-add-item-info {
    position: relative;
    font-size: 14px;
    float: left;
    list-style-type: none;
    padding: 1px 0;
    margin: 3px;
    background: #e3f2fd;
    color: #495057;
    border-radius: 4px;
}

.tc-add-item-info-text {
    padding: 0 1.5rem 0 0.5rem;
}

.tc-add-item-info-icon {
    cursor: pointer;
    position: absolute;
    right: 0.2em;
    margin-top: 1px;
}

/*Стиль для верха таблицы в Линкованные объекты Вычислимые параметры*/

#linkerForm\:linkerTabView\:objectTabView\:calcDataTable_head tr th {
    padding-top: 0.24em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}