/*custom стиль шестеренки (статус выполнения ajax) на кнопке*/

html body .custom.ui-button.ui-button-text-only .ui-icon-loading {
    opacity: 0;
}
html body .custom.ui-button.ui-button-text-only .ui-icon-loading:before {
    content: "\e94a";
}
html body .custom.ui-button, html body .custom.ui-button * {
    transition-property: all;
    transition-duration: .2s;
}
html body .custom.ui-button.ui-state-loading {
    opacity: 1;
    background: #888;
    border-color: #888;
}
html body .custom.ui-button.ui-state-loading.ui-button-text-only .ui-button-text {
    opacity: 1;
    padding-left: 2rem;
}
html body .custom.ui-button.ui-state-loading.ui-button-text-only .ui-icon-loading {
    opacity: 1;
    left: 0;
    margin-left: 0.5rem;
}

/*Стиль кнопок для выбора категорий настроек*/

#menuForm .custom.ui-button-flat {
    background-color: transparent;
    color: #000000;
    border-color: transparent;
}

#menuForm .custom.ui-button-flat:hover {
    background-color: #eaeaea;
    color: #000000;
    border-color: #eaeaea;
}

#menuForm .custom.ui-button-flat:focus {
    outline: none;
}

#menuForm .custom.ui-button-selected {
    background-color: #007ad9;
    color: #ffffff;
    border-color: #007ad9;
}

#menuForm .custom.ui-button-selected:focus {
    outline: none;
}

/*Отступы для формы Нормативные показатели*/

#normIndicators\:rootPanel_content {
    padding: 3px;
}

/*Если требуется два вводимых поля в форме Нормативные показатели*/

#normIndicators .double input {
    width: 50%;
}

/*Устанавливаем свойства scrollbar для категорий настроечных параметров и нормативных показателей*/

#normIndicators\:rootPanel_content,
#menuPanel_content {
    overflow-y: auto;
    overflow-x: hidden;
}

#normIndicators\:borderValues .ui-datatable-tablewrapper {
    padding-bottom: 2px;
}

#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-scrollbar,
#normIndicators\:rootPanel_content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: initial;
}

#menuPanel_content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
}

#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-scrollbar-thumb,
#normIndicators\:rootPanel_content::-webkit-scrollbar-thumb,
#menuPanel_content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    transition: background 250ms ease;
    border-radius: 2px;
    -moz-transition: background 250ms;
    -webkit-transition: background 250ms
}

#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-scrollbar-thumb:hover,
#normIndicators\:rootPanel_content::-webkit-scrollbar-thumb:hover,
#menuPanel_content::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.35)
}

#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-scrollbar-track,
#normIndicators\:rootPanel_content::-webkit-scrollbar-track,
#menuPanel_content::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-width: 0
}

#menuPanel_content:hover::-webkit-scrollbar {
    display: initial;
}

#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-scrollbar-button,
#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-scrollbar-corner,
#normIndicators\:borderValues .ui-datatable-tablewrapper::-webkit-resizer,
#normIndicators\:rootPanel_content::-webkit-scrollbar-button,
#normIndicators\:rootPanel_content::-webkit-scrollbar-corner,
#normIndicators\:rootPanel_content::-webkit-resizer,
#menuPanel_content::-webkit-scrollbar-button,
#menuPanel_content::-webkit-scrollbar-corner,
#menuPanel_content::-webkit-resizer {
    display: none
}

/*Стили для кнопки скрыть панель с категориями настроечных параметров*/

.collapseButton {
    top: 10px;
    width: 16px;
    padding: 0;
    margin: 0 0 0 -1.3rem;
    border-radius: 25px 0 0 25px;
    background-color: #fff;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    border: 0;
    box-shadow: -7px 0 7px -4px rgba(0,0,0,.5);
    outline: none;
    z-index: 999;
}

.collapsed {
    width: 5px;
    height: 20px;
    margin-left: initial;
    border: 0;
    border-radius: 0 25px 25px 0;
    background-color: #000;
}

.collapseButton:hover, .collapseButtonHidden:hover {
    scale: 1.1;
}

#leftMenuPanel {
    transition: margin 250ms cubic-bezier(.5,.3,.7,.5);
}

/*Задал размеры панелей в форме "Настройка типа параметра"*/

#typeSettingForm\:typeTable {
    height: 100%;
}

#typeSettingForm\:typeTable > .ui-datatable-scrollable-body {
    height: calc(100% - 80px) !important;
}

/*Задал размеры панелей в форме "Структура" и "Обобщенная модель"*/

#divisionPanel\:structType,
#divisionPanel\:divisionPropTable,
#genModelForm\:genModel {
    height: 100%;
}

#divisionPanel\:structType > .ui-treetable-scrollable-body,
#genModelForm\:genModel > .ui-treetable-scrollable-body {
    height: calc(100% - 80px);
}

/*Что бы не разбегалась ширина колонок шапки и значений в таблице, относится к treeTable в форме "Cтруктура"*/

#divisionPanel\:structType .ui-treetable-scrollable-body .ui-treetable-scrollable-theadclone tr th>*,
#genModelForm\:genModel .ui-treetable-scrollable-body .ui-treetable-scrollable-theadclone tr th>* {
    display: block;
    height: 0;
    padding: 0;
    border: 0;
}

/*Стили для отображения colorPicker в настроечной форме Расцветка параметров*/

#colorForm\:colorTable .ui-colorpicker>button {
    border: none;
    width: 100%;
}

#colorForm\:colorTable .ui-colorpicker>button>span>span {
    border: none !important;
    width: unset !important;
    height: unset !important;
    text-indent: unset !important;
}

#colorForm\:colorTable .ui-colorpicker>button>span {
    padding: 0;
}

#colorForm\:colorTable .ui-colorpicker .ui-button.ui-state-focus {
    box-shadow: unset;
}

.ui-colorpicker-container {
    display: none;
}

/*Стиль курсора для изменяемых ячеек*/

#multiYearTemp\:tempTable .ui-editable-column,
#normIndicators .ui-editable-column,
#problemForm .ui-editable-column,
#regimeCardForm .ui-editable-column {
    cursor: pointer;
}

/*Стиль для custom confirmDialog*/

#seasonChangePanel\:confirm .ui-dialog-content .ui-icon {
    display: none;
}

/*Стиль для confirmDialog*/

body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
    padding: 0.5rem;
}

body .ui-dialog.ui-confirm-dialog .ui-dialog-buttonpane {
    padding: 0.3rem;
}

/*Стиль второй колонки в h:panelGrid*/

.column2Class {
    text-align: center;
}

/*Стили для wizard, используется в обобщенной модели*/

#addNewFormulaForm\:inputWizard .ui-wizard-nav-next {
    margin-right: 213px;
}

#addNewFormulaForm\:inputWizard .ui-wizard-nav-back {
    margin-left: 2px;
}

body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title {
    padding: 0.4em;
}